<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591603607687-f8d2cj8farviue41buif333j81s3mcdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591603607687-f8d2cj8farviue41buif333j81s3mcdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591603607687-lfrgdtmpj86f62henrfb23q2cqjrtsvr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd4sWc3YFc20JtUDh_E9SPMiQbQ7_yNcI</string>
	<key>GCM_SENDER_ID</key>
	<string>591603607687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>geowell</string>
	<key>STORAGE_BUCKET</key>
	<string>geowell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591603607687:ios:cb139f886cfafb67cf3022</string>
</dict>
</plist>